<h1>supervision</h1>

<p>Ip  : <%- JSON.stringify(ip) %> </p>
<p>MTU  : <%- JSON.stringify(mtu) %> </p>
<p>CPU  : <%- JSON.stringify(cpu) %> </p>
<p>ram0  : <%- JSON.stringify(ram0) %> </p>
<p>ram1  : <%- JSON.stringify(ram1) %> </p>
<p>ram2  : <%- JSON.stringify(ram2) %> </p>
<p>ram3 : <%- JSON.stringify(ram3) %> </p>
<p>ram4  : <%- JSON.stringify(ram4) %> </p>
<p>ram5  : <%- JSON.stringify(ram5) %> </p>
<p>Adresse phys  : <%- JSON.stringify(phys_addr) %> </p>
<p>Statut  : <%- JSON.stringify(statut) %> </p>
<p>Name  : <%- JSON.stringify(name) %> </p>
<p>Ping  : <%- JSON.stringify(ping) %> </p>
<a href="/admin"><input type="button">Retour</a>
