<h1>supervision</h1>

<p>Ip  : <%- ip %> </p>
<p>MTU  : <%- mtu %> </p>
<p>CPU  : <%- cpu %> </p>
<p>ram0  : <%- ram0 %> </p>
<p>ram1  : <%- ram1 %> </p>
<p>ram2  : <%- ram2 %> </p>
<p>ram3 : <%- ram3 %> </p>
<p>ram4  : <%- ram4 %> </p>
<p>ram5  : <%- ram5 %> </p>
<p>Adresse phys  : <%- phys_addr %> </p>
<p>Statut  : <%- statut %> </p>
<p>Name  : <%- name %> </p>
<p>Ping  : <%- ping %> </p>
<a href="/admin"><input type="button">Retour</a>
